.club-link {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
  }

.club-link:hover {
    color: #81A1C1;
    text-decoration: underline;
  }

.flex-gap {
    gap: 10px;
}